In [1]:
import pandas as pd

df = pd.read_csv('trucks.csv')
df

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
0,267,Truck,2023-11-17T10:26:25,341,36.761456,-81.826714,Flatbed,Long
1,268,Truck,2023-11-17T10:27:05,120,40.023842,-77.520927,Reefer,Short
2,269,Truck,2023-11-17T10:27:10,120,40.031013,-77.494308,Reefer,Short
3,271,Truck,2023-11-17T10:27:24,206,40.271824,-76.877083,Flatbed,Long
4,272,Truck,2023-11-17T10:27:32,326,35.336109,-80.848854,Flatbed,Short
...,...,...,...,...,...,...,...,...
5827,2496,Truck,2023-11-17T22:58:03,238,42.132271,-72.051010,Reefer,Short
5828,2497,Truck,2023-11-17T22:59:24,353,42.473766,-79.276031,Flatbed,Short
5829,2498,Truck,2023-11-17T22:59:27,290,39.569466,-76.139107,Van,Short
5830,2499,Truck,2023-11-17T22:59:35,241,38.293682,-85.542076,Flatbed,Long
5831,2500,Truck,2023-11-17T22:59:56,237,37.807678,-80.408539,Van,Short

In [3]:
serie = df['truckId'].value_counts()

366    57
292    42
331    41
110    40
106    40
       ..
428     3
345     3
222     3
197     3
123     2
Name: truckId, Length: 322, dtype: int64

In [5]:
df.loc[df['truckId'] == 123]

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
1978,233,Truck,2023-11-17T10:13:55,123,43.554779,-79.847824,Flatbed,Long
3978,233,Truck,2023-11-17T10:13:55,123,43.554779,-79.847824,Flatbed,Long