In [1]:
import pandas as pd

df = pd.read_csv('trucks.csv')
df

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
0,234,Truck,2023-11-18T10:14:35,160,41.005199,-76.142494,Van,Long
1,235,Truck,2023-11-18T10:14:46,295,42.113213,-83.241364,Flatbed,Short
2,236,Truck,2023-11-18T10:15:20,278,41.519447,-74.023689,Van,Short
3,237,Truck,2023-11-18T10:15:40,241,34.760151,-82.468002,Flatbed,Long
4,239,Truck,2023-11-18T10:15:59,214,40.267052,-83.481972,Reefer,Short
...,...,...,...,...,...,...,...,...
1848,2496,Truck,2023-11-18T22:58:03,238,42.132271,-72.051010,Reefer,Short
1849,2497,Truck,2023-11-18T22:59:24,353,42.473766,-79.276031,Flatbed,Short
1850,2498,Truck,2023-11-18T22:59:27,290,39.569466,-76.139107,Van,Short
1851,2499,Truck,2023-11-18T22:59:35,241,38.293682,-85.542076,Flatbed,Long
1852,2500,Truck,2023-11-18T22:59:56,237,37.807678,-80.408539,Van,Short

In [2]:
serie = df['truckId'].value_counts()
serie

366    19
292    14
331    14
241    13
160    12
       ..
197     1
345     1
222     1
201     1
401     1
Name: truckId, Length: 321, dtype: int64

In [3]:
df.loc[df['truckId'] == 366]

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
86,362,Truck,2023-11-18T10:56:38,366,41.966702,-70.694420,Reefer,Short
325,708,Truck,2023-11-18T12:33:50,366,41.925396,-71.327072,Reefer,Short
395,802,Truck,2023-11-18T13:03:56,366,41.650585,-71.610458,Reefer,Short
406,821,Truck,2023-11-18T13:08:54,366,41.591705,-71.660004,Reefer,Short
430,856,Truck,2023-11-18T13:18:55,366,41.465271,-71.766190,Reefer,Short
458,896,Truck,2023-11-18T13:33:58,366,41.362232,-72.026932,Reefer,Short
513,989,Truck,2023-11-18T13:58:59,366,41.292206,-72.449394,Reefer,Short
523,1004,Truck,2023-11-18T14:03:59,366,41.288151,-72.551048,Reefer,Short
566,1089,Truck,2023-11-18T14:22:49,366,41.290794,-72.587166,Reefer,Short
611,1156,Truck,2023-11-18T14:37:49,366,41.338730,-72.798958,Reefer,Short
687,1258,Truck,2023-11-18T15:12:10,366,41.429733,-72.846733,Reefer,Short
1185,1826,Truck,2023-11-18T18:07:54,366,41.175385,-73.166466,Reefer,Short
1516,2158,Truck,2023-11-18T20:09:38,366,40.844151,-73.898552,Reefer,Short
1592,2239,Truck,2023-11-18T20:39:44,366,40.822334,-74.035416,Reefer,Short
1668,2315,Truck,2023-11-18T21:19:46,366,40.599945,-74.269753,Reefer,Short
1677,2324,Truck,2023-11-18T21:24:49,366,40.563160,-74.300308,Reefer,Short
1693,2340,Truck,2023-11-18T21:34:49,366,40.540020,-74.387047,Reefer,Short
1756,2403,Truck,2023-11-18T22:03:45,366,40.642769,-74.869438,Reefer,Short
1821,2468,Truck,2023-11-18T22:38:48,366,40.570343,-75.402435,Reefer,Short

In [4]:
df = pd.read_csv('notifications.csv')
df

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,truck_id,load_id
0,2023-11-18T10:18:13,1750.0,608.209256,827.384597,47.781409,114,10166
1,2023-11-18T10:27:48,1750.0,345.158695,1018.000946,22.038600,142,10166
2,2023-11-18T10:28:47,1000.0,159.445536,609.097438,17.015274,125,10948
3,2023-11-18T10:30:03,1656.0,337.449763,955.471186,22.956458,206,10308
4,2023-11-18T10:33:59,1000.0,322.498637,490.943016,42.698258,197,10948
...,...,...,...,...,...,...,...
9533,2023-11-18T22:59:27,465.0,237.587203,164.791882,93.713162,290,10002
9534,2023-11-18T22:59:27,600.0,326.859221,197.928100,107.341248,290,10499
9535,2023-11-18T22:59:27,332.5,191.260079,102.347769,121.467281,290,10009
9536,2023-11-18T22:59:35,800.0,386.256064,299.814446,83.740609,241,11019
9537,2023-11-18T22:59:56,800.0,546.313343,183.830911,193.168642,237,10101

In [5]:
serie = df['truck_id'].value_counts()
serie

163    204
160    188
378    150
266    142
315    128
      ...
244      1
399      1
221      1
122      1
112      1
Name: truck_id, Length: 240, dtype: int64

In [7]:
df.loc[df['truck_id'] == 163]

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,truck_id,load_id
59,2023-11-18T10:53:18,600.00,157.643072,320.548498,31.966457,163,10171
60,2023-11-18T10:53:18,990.00,261.740632,527.724179,32.238699,163,10705
61,2023-11-18T10:53:18,2000.00,363.595437,1185.800408,19.930591,163,11036
62,2023-11-18T10:53:18,1650.00,381.091518,919.498900,26.939618,163,10458
63,2023-11-18T10:53:18,1375.00,568.888006,584.139126,63.302934,163,10329
...,...,...,...,...,...,...,...
9301,2023-11-18T22:30:25,1300.00,568.167873,530.313136,69.639821,163,10466
9302,2023-11-18T22:30:25,2700.00,1006.087123,1227.473099,53.276657,163,10420
9303,2023-11-18T22:30:25,800.00,308.261785,356.332040,56.231306,163,10623
9304,2023-11-18T22:30:25,650.75,302.400211,252.427383,77.867993,163,10544
9305,2023-11-18T22:30:25,600.00,228.110974,269.484801,55.020592,163,10499